.button {
  min-width: 20px;
  min-height: 20px;
  cursor: pointer;
  transition: transform 0.07s ease;
}

.button:hover {
  transform: scale(1.1);
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
