.checkbox {
  background-color: #fff;
  border-radius: 100%;
  width: 18px;
  height: 18px;
  border: 1px solid var(--main-dark);
  cursor: pointer;
}

.checkbox:hover {
  background-color: var(--faded-blue);
}

.checkbox.checked {
  background-color: var(--main-highlight);
}
