.main {
  border-radius: 10px;
  /* border: 1px black solid; */

  padding: 15px;
  margin: 15px 0;
  display: flex;
  align-items: center;
}

.checkbox {
  border-radius: 100%;
  margin-right: 15px;
  margin-left: 10px;
}

.main button {
  margin-left: auto;
  padding: 5px;
  border-radius: 5px;
}
