.main {
  border-radius: 10px;

  padding: 15px;
  margin: 15px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main.checked {
  opacity: 50%;
}

.main input {
  border-radius: 100%;
  margin-right: 15px;
  margin-left: 10px;
}

.main button {
  padding: 5px;
  border-radius: 5px;
}

.title {
  font-weight: bold;
  font-size: 22px;
}

.title.checked {
  text-decoration: line-through;
  color: rgb(79, 79, 79);
}

.leftGroup,
.rightGroup {
  display: flex;
  align-items: center;
}

.dueDate {
  font-size: 14px;
  color: rgb(79, 79, 79);
}

.dueDate.checked {
  text-decoration: line-through;
}

.priority {
  display: none;
}

.infoContainer {
  margin-left: 10px;
}

.titleChecked,
.dueDateChecked {
  text-decoration: line-through;
  color: grey;
}

@media (min-width: 400px) {
  .priority {
    display: block;
  }
}
