:root {
  --date-box-size: 100px;
  --date-box__main-color: var(--dark-grey);
}

.square-date__main {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  border: 1px solid white;
  border-radius: 10px;

  background-color: var(--date-box__main-color);

  height: var(--date-box-size);
  width: var(--date-box-size);
}

.square-date__day,
.square-date__month,
.square-date__year {
  display: flex;
  justify-content: center;
  color: white;
}

.square-date__day {
  font-size: 50px;
}
