.button {
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  border-radius: 4px;
}

button.light {
  background-color: white;
  color: var(--main-dark);
  border: 1px solid var(--main-dark);
}

.button.light:hover {
  color: var(--main-highlight);
  /* border: 1px solid blue; */
}

.button.blue {
  background-color: darkblue;
  color: white;
  border: 1px solid navy;
}

.button.blue:hover {
  background-color: blue;
}
