.button {
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}

button.light {
  background-color: white;
  color: var(--main-dark);
  border: 1px solid var(--main-dark);

  transition: color 0.2s, border 0.2s ease;
}

.button.light:hover {
  color: var(--main-highlight);
  border: 1px solid blue;
}

.button.blue {
  background-color: darkblue;
  transition: background-color 0.2s ease;
  color: white;
  border: 1px solid navy;
}

.button.blue:hover {
  background-color: blue;
}
