.dropdown {
  display: flex;
  align-items: center;
  /* margin-right: 10px; */
}

.label {
  margin-right: 5px;
}

.container {
  display: none;
}

.containerActive {
  position: absolute;
}

.listItem {
  list-style: none;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;

  padding: 5px 8px;
  background-color: #fff;
  width: 90px;
  cursor: pointer;
}

.listItem:last-child {
  border-radius: 0 0 5px 5px;
}

.currentOption {
  justify-content: space-between;
  border: 1px solid #ccc;
  background-color: #fff;
  width: 90px;
  display: flex;
  align-items: center;
  padding: 5px 8px;
  cursor: pointer;
  border-radius: 5px;
}

.currentOptionActive {
  justify-content: space-between;
  border: 1px solid #ccc;
  background-color: #fff;
  width: 90px;
  display: flex;
  align-items: center;
  padding: 5px 8px;
  cursor: pointer;
  border-radius: 5px 5px 0 0;
}

.arrowDown {
  align-self: right;
  border: solid #454545;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin-bottom: 4px;
}

.arrowRight {
  border: solid #454545;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  margin-bottom: 2px;
}
