.dropdown {
  display: flex;
  align-items: center;
  z-index: 1;
  color: var(--header-text);
}

.container {
  position: absolute;
  margin-top: 140px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 5px;
  background-color: var(--main-dark);
  width: 135px;
  opacity: 1;
  height: auto;
  overflow: hidden;

  transition: opacity 0.2s ease-in-out;
}

.container.hidden {
  opacity: 0;
  height: 0px;
  margin: 0;
  z-index: -1;
  transition: opacity 0.2s ease-in-out;
}

.dropdown li {
  list-style: none;
  cursor: pointer;
  display: flex;
}

.dropdown li a {
  padding: 5px 8px;
  flex: 1;
}

.label {
  margin-right: 5px;
}

.currentOption {
  background-color: var(--main-dark);
  display: flex;
  align-items: center;
  padding: 5px 8px;
  cursor: pointer;
}

.currentOption span {
  margin-right: 10px;
}

.arrow {
  border: solid var(--header-text);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  align-self: right;
}

.arrow.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin-bottom: 4px;

  transition: transform 0.1s ease;
}

.arrow.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);

  transition: transform 0.1s ease;
}
