.currentOption {
  justify-content: space-between;
  border: 1px solid #ccc;
  background-color: #fff;
  height: 36px;
  display: flex;
  align-items: center;
  padding: 5px 8px;
  cursor: pointer;
  border-radius: 5px;
  width: 185px;
}

.listItem {
  list-style: none;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;

  display: flex;
  align-items: center;

  padding: 5px 8px;
  background-color: #fff;
  height: 36px;
  width: 185px;

  cursor: pointer;
}

.listItem:hover {
  background-color: rgb(214, 214, 255);
}
