.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
}

.formSection {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 5px 0;
}

.formSection label {
  font-size: 20px;
  font-weight: bold;
}

.formSection input {
  margin-top: 2px;
  border-radius: 4px;
  border: 1px solid #ccc;

  padding: 8px;
}
