.mainNav {
  display: flex;
  justify-content: space-around;
  background-color: var(--main-dark);
  color: white;
}

.logo {
  display: flex;
  height: var(--header-height);
  align-items: center;
  font-size: 34px;
  padding: 5px;
}

.list {
  display: flex;
  list-style: none;
}

.headerLinks {
  display: flex;
  align-items: center;
  font-size: 20px;
}

.headerLinks > * {
  transition: background-color 0.3s ease;

  padding: 0px 8px;
  min-height: var(--header-height);
  text-align: center;
  display: flex;
  align-items: center;
}

.headerLinks > *:hover {
  background-color: var(--main-highlight);
}

.mainNav a,
.mainNav a:visited {
  color: var(--header-text);
}

.headerLinks a:active,
.headerLinks a:hover {
  color: white;
  background-color: var(--main-highlight);
}
