.mainNav {
  display: flex;
  justify-content: space-between;
  background-color: navy;
  color: white;
  padding: 20px;
}

.mainNav h3 {
  font-size: 34px;
}

.list {
  display: flex;
  list-style: none;
  margin-right: 50px;
}

.list li {
  display: flex;
  align-items: center;
  margin-right: 15px;
  font-size: 24px;
}

.mainNav a,
.mainNav a:visited {
  color: var(--header-text);
}

.list a:active,
.list a:hover {
  color: var(--active-link);
}
