.mainNav {
  display: flex;
  justify-content: space-around;
  background-color: var(--main-dark);
  color: white;
}

.logo {
  display: flex;
  height: var(--header-height);
  align-items: center;
  font-size: 34px;
}

.list {
  display: flex;
  list-style: none;
}

.headerLinks {
  display: flex;
  align-items: center;
  font-size: 24px;
  border-bottom: 3px solid var(--main-dark);
  transition: border-bottom 0.2s ease-in-out;
}

.headerLinks > * {
  /* padding: 10px 0px; */
  /* height: var(--header-height); */
  padding: 0px 8px;
  height: var(--header-height);
  text-align: center;
  display: flex;
  align-items: center;
}

.mainNav a,
.mainNav a:visited {
  color: var(--header-text);
}

.headerLinks a:active,
.headerLinks a:hover {
  color: var(--active-link);
}

.headerLinks:hover {
  border-bottom: 3px solid var(--main-highlight);
}
